---
import Layout from "../layouts/Layout.astro";
import Home from "../components/astro/Home.astro";
import CardCase from "../components/astro/CardCase.astro";
import Navbar from "../components/astro/Navbar.astro";
import { directusInitialization } from "../lib/directus";
import ServicesCard from "../components/astro/ServicesCard.astro";
import ContactFormHome from "../components/astro/ContactFormHome.astro";
import Footer from "../components/astro/Footer.astro";

directusInitialization(process.env.DIRECTUS_URL, process.env.DIRECTUS_TOKEN);
---

<Layout title={""}>
  <main>
    <Navbar client:visible />
    <Home client:visible />
    <CardCase client:visible />
    <ServicesCard client:visible />
    <!-- <ContactFormHome client:visible />-->
    <Footer client:visible /> 
  </main>

  <style>
    main {
      color: white;
    }
  </style>
</Layout>
