---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home";
import ServicesCard from "../components/ServicesCard";
import EmailForm from  "../components/EmailForm";
import CardCase from "../components/CardCase";
import Language from "../components/Language"
import Navbar from "../components/Navbar";


---

<Layout title={""}>
  <main>
    <Navbar client:visible />
    <Home client:visible/>
    <CardCase client:visible />
    <ServicesCard client:visible/>
    <EmailForm client:visible/>
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
