---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home";
import ServicesCard from "../components/ServicesCard";
import EmailForm from "../components/EmailForm";
import CardCase from "../components/CardCase";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer"
import { main } from "../services/api";


---

<Layout title={""}>
  <main>
    <Navbar client:visible />
    <Home client:visible />
    <CardCase client:visible />
    <ServicesCard client:visible />
    <EmailForm client:visible />
    <Footer client:visible>
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
